<app-header></app-header>

<h1>todos</h1>
<div>
    <input type="text" [(ngModel)]="todos" >
   <p>"todos? 'oh need to add':'ok added'"</p> 
    <button type="submit" (click)="addTodos()">Add</button>

    <div *ngFor="let x of array">
   <p>{{x}}</p>
    </div>
   
</div>

<div>

   <select [(ngModel)]="country_id" (change)="changeCountry()">
       <option selected as disabled="-1">select</option>
       <option *ngFor="let x of country" [value]="x.id">{{x.name}}</option>
   </select>
  
   <select [(ngModel)]="state_id" (change)="changeState()">
    <option selected as disabled="-1">select</option>
    <option *ngFor="let x of state" [value]="x.id">{{x.name}}</option>
</select>
   

<select [(ngModel)]="city_id" (change)="changeCity()">
    <option selected as disabled="-1">select</option>
    <option *ngFor="let x of city" [value]="x.id">{{x.name}}</option>
</select>
</div>




<router-outlet></router-outlet>
